<%- include('../partials/navbar')%>
<div class="row mt-5" style="margin-right: 180px;">
	<div class="col-6 offset-3" >
		<div class="card" style="width: 40rem;">
			<img src="<%=campgrounds.image%>" height="400px" width="700px" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title"><%=campgrounds.title%></h5>
			  <p class="card-text"><%=campgrounds.location%></p>
			</div>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item"><%=campgrounds.description%></li>
			  <li class="list-group-item"><%=campgrounds.price%></li>
			</ul>
			<div class="card-body">
			  <a href="/campgrounds/<%=campgrounds._id%>/edit" class="card-link btn btn-warning">EDIT</a>
			  <a href="/campgrounds" class="card-link btn btn-info">All campgrounds</a>
			  <form class="d-inline" action="/campgrounds/<%=campgrounds._id%>?_method=DELETE" method="POST">
				<button  class="d-inline btn btn-danger">DELETE</button>
			</form>
			</div>
			<form method="POST" action="/campgrounds/<%=campgrounds._id%>/review">
				<label for="rating" class="form-label">LEAVE A REVIEW</label>
				<input type="range" min="1" max="5" name="review[star]" class="form-range" id="customRange1" >
				<div class="form-floating">
					<textarea class="form-control" id="floatingTextarea" placeholder="Leave a comment here" name="review[body]" style="height: 100px;width: 100%;"></textarea>
				  </div>
				  <button class="btn btn-success">SUBMIT</button>
			  </form>
		  </div>
	</div>
</div>
<%- include('../partials/footer')%>